# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DATABASE=

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# https://next-auth.js.org/providers/github
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=

NEXT_PUBLIC_PROJECT_ID=5d4e9eef5dacb38faa894b7af020499b
NOTIFY_API_SECRET=684dfc7e-a5c0-4d41-8b43-8ddd78e6e4bf
NEXT_PUBLIC_APP_DOMAIN=0xnazar.vercel.app